<h1>List Master Kategori</h1>
<hr>

<a href="/master-kategori/tambah" class="btn btn-outline-primary rounded-circle mb-3">
    <i class="fa-solid fa-plus"></i>
</a>

<% if (req.query.status == 'sukses') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><i class="fa-solid fa-check-circle me-1"></i><%= req.query.pesan %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<% if (req.query.status == 'gagal') { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><i class="fa-solid fa-exclamation-triangle me-1"></i>Gagal membuat user baru</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<div class="row">
    <% for (const i in kategori) { %>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= kategori[i].nama %></h5>
                    <p class="card-text"><%= kategori[i].deskripsi %></p>
                    <a href="#" class="btn btn-sm btn-outline-primary float-end mx-1">
                        <i class="fa-solid fa-fw fa-edit"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-outline-primary float-end mx-1">
                        <i class="fa-solid fa-fw fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
    <% } %>
</div>