<h2>Form Input Produk Baru</h2>
<hr>

<% if (info_error) { %>
    <strong style="color: red;">
        <% info_error.errno %> - <% info_error.code %> <br>
        <% info_error.sqlMessage %> <br>
    </strong>
    <br>
<% } %>

<div class="row">
    <div class="col-md-12 col-lg-6">
        <form action="/master-produk/proses-simpan" method="post">

            <div class="mb-3">
                <label class="form-label">Kode Barang</label>
                <input type="text" class="form-control" id="form_kode" name="form_kode" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Nama Barang</label>
                <input type="text" class="form-control" id="form_nama" name="form_nama" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Deskripsi</label>
                <input type="text" class="form-control" id="form_deskripsi" name="form_deskripsi" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Kategori</label>
                <select class="form-select" id="form_kategori" name="form_kategori" required>
                    <option value="">--pilih--</option>
                    <% for (const i in kategori) { %>
                        <option value="<%= kategori[i].id %>"><%= kategori[i].nama %></option>
                    <% } %>
                </select>
            </div>

            <button type="submit" class="btn btn-secondary mt-3">
                <i class="fa-solid fa-save me-1"></i>
                Simpan
            </button>
        </form>
    </div>
</div>