<!-- <% if (users.id.length > 0) { %>

    <h1>Detail User</h1>
    <hr><hr>
    <ul>
        <li>Username: <%= users[0].username %></li>
        <li>Nama Lengkap: <%= users[0].nama_lengkap %></li>
    </ul>
    
    <% } else { %>
     <h1>Data user yang Anda cari tidak ada</h1>
    <% } %> -->