<h2>Form Input User Baru</h2>
<hr>

<% if (info_error) { %>
    <strong style="color: red;">
        <% info_error.errno %> - <% info_error.code %> <br>
        <% info_error.sqlMessage %> <br>
    </strong>
    <br>
<% } %>

<div class="row">
    <div class="col-md-12 col-lg-6">
        <form action="/user/proses-simpan" method="post">

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="form_username" id="form_username" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="form_password" id="form_password" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Nama Lengkap</label>
                <input type="text" class="form-control" name="nama_lengkap" id="namakaryawan">
            </div>

            <button type="submit" class="btn btn-secondary">
                <i class="fa-solid fa-save me-2"></i>
                Simpan
            </button>
        </form>
    </div>
</div>