<h1>User Management</h1>
<hr>
<a href="/user/tambah" class="btn btn-outline-primary rounded-circle mb-3">
    <i class="fa-solid fa-plus"></i>
</a>

<% if (req.query.status == 'sukses') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><i class="fa-solid fa-check-circle me-1"></i><%= req.query.pesan %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<% if (req.query.status == 'gagal') { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><i class="fa-solid fa-exclamation-triangle me-1"></i>Gagal membuat user baru</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<ul class="list-group">
    <% for (const i in users) { %>
        <li class="list-group-item">
            <%= users[i].username %> (<%= users[i].nama_lengkap %>)
            <!-- <a href="/user-management/edit" class="btn btn-sm btn-outline-primary float-end mx-1">
                <i class="fa-solid fa-fw fa-edit"></i>
                Edit
            </a>
            <a href="/user-management/detail" class="btn btn-sm btn-outline-primary float-end mx-1">
                <i class="fa-solid fa-fw fa-eye"></i>
                Detail -->
            </a>
        </li>
    <% } %>
</ul>