<%- include('../layout/header') %>
<link rel="stylesheet" href="/custom-login.css">
<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
    <form>
        <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Akses akun</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Alamat email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Kata sandi</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Masuk</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
    </form>
    </main>
</body>