<body>
    <%- include('menu-atas') %>    
    <div class="container-fluid">
        <div class="row">
            <%- include('menu-kiri') %>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">
                <%- include('../' + konten) %>
            </main>
        </div>
    </div>
</body>