<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aplikasi Inventori">
    <meta name="author" content="Ami, dengan bantuan Coach Aji.">
    <meta name="generator" content="Hugo 0.122.0">
    <title>Dashboard Template · Bootstrap v5.3</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/custom-template.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="icon" href="/gambar/Logo-I-Graphics-9136473-1.png" sizes="32x32" type="image/png">
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/fontawesome/js/all.min.js"></script>
</head>